@import 'var';

.header {
    margin-top: 50px;
    padding-bottom: 65px;
    position: absolute;
    width: 100%;
    z-index: 1;

    &__logo {
        box-shadow: none;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    @media screen and (max-width: 991px) {
        
        &__wrap {
            display: block;   
        }  
        
        & {
            display: block;
            width: 100%;
            position: absolute; 
        }  
    }
    
}
